# *Supabase setup - learn more https://classroomio.com/docs/contributor-guides/supabase-cloud
PUBLIC_SUPABASE_URL=https://tnbsjrvjmlheyncxycyz.supabase.co
PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_1oz4jkDs4vLTkF6VYJ80-w_El3M-kxd
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRuYnNqcnZqbWxoZXluY3h5Y3l6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE1NTk4ODAsImV4cCI6MjA4NzEzNTg4MH0.RANDS9wd4LT_6Qzhvhf8ebyGDb-erHQSrvi3BFKZCwQ
PRIVATE_SUPABASE_SERVICE_ROLE=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRuYnNqcnZqbWxoZXluY3h5Y3l6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTU1OTg4MCwiZXhwIjoyMDg3MTM1ODgwfQ.Y3G00CoJZjY5lTZe39cudRFrTVrOPj5kyLBRprjtiWU

# Selfhosting - should be true if you are selfhosting
PUBLIC_IS_SELFHOSTED=false

# Unsplash setup - Optional if you want to use Unsplash images
UNSPLASH_API_KEY=_0TZfUoWBHwsVBKNq7p7bL2IFlh8xTUemN-IkW9CaW0

# OpenAI setup - Optional if you want to use the AI features
# OPENAI_API_KEY=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

# Sever URL - Optional if you want to use video upload and pdf downloads
# This is the deployment URL of apps/api
PUBLIC_SERVER_URL=https://lynx-vle-api-sigma.vercel.app

# For getting metadata for signup users.
PUBLIC_IP_REGISTRY_KEY=ira_5XgthHStRQVoCqAS0RcUuTKZ0pYs9h09ETLI

# Domain management - should be your domain
# The final domain is app.classroomio.com where `app` is PRIVATE_APP_SUBDOMAINS and `classroomio.com` is PRIVATE_APP_HOST
PRIVATE_APP_HOST=classroomio.com
PRIVATE_APP_SUBDOMAINS=app


# ============  CLOUD VERSION SPECIFIC ============
LEMON_SQUEEZY_API_KEY=
LEMON_SQUEEZY_STORE_ID=
LEMON_SQUEEZY_WEBHOOK_SECRET=

VITE_SENTRY_AUTH_TOKEN=
VITE_SENTRY_ORG_NAME=
VITE_SENTRY_PROJECT_NAME=

# Configure https locally https://stackoverflow.com/a/76525335
USE_HTTPS_ON_LOCALHOST=false

## Custom Domain
TEAM_ID_VERCEL=
PROJECT_ID_VERCEL=
AUTH_BEARER_TOKEN=